.main {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
}

.jumbotron {
    background-color: #583404;
    color: white;
    padding-bottom: 10px;
}

.theHead {
    background-color: blue;
    color: white;
}

.theOtherHead {
    background-color: blue;
    color: white;
}